<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="/favicon-2.ico" type="image/x-icon" >
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">


  <title>Jester</title>


</head>

<body>

  <div class="container">
    <h1>Jester.</h1>
    <strong>
      <h2>Click the button below for jokes 😂</h2>
    </strong>
    <form action="/newjoke" method="post">
      <label for="select">choose a category:</label>
      <select name="categories" id="select">
        <option value="any">any</option>
        <option value="misc">misc</option>
        <option value="programming">programming</option>
        <option value="dark">dark</option>
        <option value="pun">pun</option>
        <option value="spooky">spooky</option>
        <option value="christmas">christmas</option>
      </select>
      <button type="submit">submit</button>
    </form>

    <div class="card">
      <% if (error===true) { %>
        <p>there seems to be an error please resubmit</p>
        <% } else { %>

          %>
          <p id="joke">
            <%= jokes %>
          </p>
          <p id="category">:<%= category %>
          </p>

          <% } %>
    </div>


    </p>
  </div>

</body>

</html>